page-home {
    .bg-image {
        background-image: url('../assets/imgs/Back.jpg');
        background-repeat: repeat-y;
        width: 100%;
        background-size: contain;
        }
            
    .header {
        text-align: center;
        color: white;
    }

}
